@import "variables";

.episode-card {
    background-color: $tertiary-color;
    border: 1px solid $primary-color;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 260px;
    height: fit-content;

    @media only screen and (min-width: $md-device) {
        width: 500px;
        height: fit-content;
    }

    @media only screen and (min-width: $lg-device) {
        width: 500px;
        height: 600px;
    }

    &__title {
        color: $secondary-color;
        font-size: 22px;

        @media only screen and (min-width: $lg-device) {
            font-size: 26px;
        }   
    }

    &__date {
        display: flex;
        flex-direction: column; 
        margin: 10px auto;
        font-size: 16px;

        @media only screen and (min-width: $lg-device) {
            margin: 10px 0 5px;
            font-size: 18px;
        }  
    }

    &__cover {
        height: 120px;
        border-radius: 10px;
        margin: 10px auto;

        @media only screen and (min-width: $md-device) {
            height: 180px;
        }  
        
        @media only screen and (min-width: $lg-device) {
            height: 200px;
        }       
    }
    
    &__summary {   
           
        & p {
            color: $primary-color;
            font-style: italic;   
            font-size: 16px;
            height: 100%;

            @media only screen and (min-width: $md-device) {
                font-size: 16px;
            }

            @media only screen and (min-width: $lg-device) {
                margin-top: 15px;
                font-style: normal; 
            }
        } 
        
        
    } 

     
}