@import "variables";

.episode-list {
    background-color: $secondary-color;
    display: flex;
    flex-direction: column;
    padding: 20px;

    &__home-link {
        color: $tertiary-color;
        margin: auto;
    }

    &__title {
        font-size: 28px;
        margin: auto;
        text-align: center;

    }
}