@import "variables";

.favorites-list {

    &__show-btn {
        background-color: $secondary-color;
        border-radius: 10px;
        color: $color-text;
        display: block;
        margin: 15px auto 0;
        padding: 8px 20px;
        border: none;
    }

    &__modal {
        background-color: $secondary-color;
        border: 1px solid $tertiary-color;
        padding: 10px;
        position: absolute;
        left:50%; 
        top:50%; 
        transform: translate(-50%, -50%);
        width: 230px;
        height: 60vh;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;

        &.hidden {
            display:none
        }

        &__close-btn {
            background-color: $primary-color;
            padding: 2px 3px;
            width: 100%;
        }

        &__title {
            font-size: 20px;
            margin: 10px auto;
        }

        &__list {
            overflow-y: scroll;
            height: 100%;
            width: 100%;

            & > li {
                padding: 3px 0;
            }
        }

        &__remove-btn {
            background-color: $tertiary-color;
        }
    }
}