@import "variables";

.homepage {
    align-items: center;
    background-color: $tertiary-color;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 20px 20px 0;
    overflow: hidden;
    
    &__title {
        color: $primary-color;
        font-size: 26px;
        text-align: center;
    }
}