@import "variables";

.season-card {
    background-color: $secondary-color;
    border: 1px solid $tertiary-color;
    border-radius: 10px;
    padding: 25px;
    text-align: center;
    width: 70%;
    height: fit-content;

    @media only screen and (min-width: $md-device) {
        width: 40%;
        height: 350px;
    }

    @media only screen and (min-width: $lg-device) {
        width: 25%;
        height: 400px;
    }

    &__link {
        color: $color-text;
        display: block;
        text-decoration: none;
    }

    &__title {
        color: $tertiary-color;
        font-size: 22px;

        @media only screen and (min-width: $md-device) {
            font-size: 26px;
        }  
    }
    
    &__text {
        display: flex;
        flex-direction: column;
        margin: 10px auto;
    }

    &__cover {
        border-radius: 10px;
        margin: 10px auto;
        height: 240px;

        @media only screen and (min-width: $md-device) {
        }  
        
        @media only screen and (min-width: $lg-device) {
            height: 260px;
        } 
    }
}