@import "variables";

.show-card {
    text-align: center;
    border: 1px solid $secondary-color;
    border-radius: 15px;
    background-color: $primary-color;

    @media only screen and (min-width: $sm-device) {
        width: 250px;
    }

    &__link {
        text-decoration: none;
        color: $color-text;
        display: block;
    }

    &__title {
        color: $tertiary-color;
    }

    &__cover {
        max-height: 250px;
    }
    
    &__text {
        display: flex;
        flex-direction: column;
    }
    &__favorites-btn {
        background-color: $secondary-color;
        color: $color-text;
        font-size: 14px;
        padding: 5px 10px;
        
        &.favorite {
            background-color: $tertiary-color;
            color: $primary-color;
        }
    }
}