@import "variables";

.show-list {
    &__page-btns {
        display: flex;
        flex-direction: row;

        &__previous {
            background-color: $secondary-color;
            border-radius: 10px;
            color: $color-text;
            display: block;
            margin: auto;
            padding: 10px 20px;
            width: fit-content;

            &.hidden{
                display: none;
            }
        }

        &__next {
            background-color: $secondary-color;
            border-radius: 10px;
            color: $color-text;
            display: block;
            margin: auto;
            padding: 10px 20px;
            width: fit-content;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        padding: 0;
    
        @media only screen and (min-width: $sm-device) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}